<%- include("../partials/header") %>


<div class="container">
<div  class="col-sm-9 col-md-9">
<h3><%=commentinfo.question%></h3>
<form action="/home/<%= commentinfo._id %>/comments" method="POST">
  <div class="form-group">
    <label >Answer</label>
    <textarea id="newAns" class="form-control" name="comtext" placeholder="Write Answer"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 </div>


 <div id="Rightsidediv" class="col-sm-3 col-md-3">
  <form id="dictform" action="/home/word" method="POST">
     <input type="text" name="word" placeholder=" word dicitonary" >
     <button class="btn btn-primary" type="submit">find</button>
   </form>
<ul> </ul>
</div>



</div>




<%- include("../partials/footer") %>